PORT=4000
JWT_SECRET_KEY='This_is_JWT_Salt'
API_PREFIX="/api/v1"

CORS_ORIGIN='https://example.com'

DB_HOST="127.0.0.1"
DB_NAME="node-backend"
DB_USER="root"
DB_PASSWORD=""

SENDGRID_API_KEY=""
SENDGRID_MAIL_FROM=''